<div class="container">
  <header>
    <h1>PRONACA</h1>
    <h2>POC - Compresión de Imágenes</h2>    
  </header>
  <main>
    <button *ngIf="!photo || compressionCompleted" (click)="takePicture()">Nueva Imagen</button>
    <h3 *ngIf="compressionCompleted">Compresión Exitosa</h3>
    <ng-container [ngSwitch]="presentationStatus">
      <ng-container *ngSwitchCase="'original'">
        <button *ngIf="photo && !compressionCompleted" (click)="compressPicture()">Comprimir Imagen</button>
        <div *ngIf="photo" class="card">
          <i *ngIf="compressionCompleted" class="fas fa-arrow-left left-arrow" (click)="handleClick('left')"></i>
          <img [src]="photo" alt="Captured Image">
          <i *ngIf="compressionCompleted" class="fas fa-arrow-right right-arrow" (click)="handleClick('right')"></i>
          <div class="vignette">
            <p>Imagen Original</p>
            <p>Tamaño: {{ photoSize }} KB</p>
            <!-- Add other relevant properties here -->
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'compress1'">
        <button *ngIf="photo && !compressionCompleted" (click)="compressPicture()">Comprimir Imagen</button>
        <div *ngIf="photo" class="card">
          <i *ngIf="compressionCompleted" class="fas fa-arrow-left left-arrow" (click)="handleClick('left')"></i>
          <img [src]="photo" alt="Captured Image">
          <i *ngIf="compressionCompleted" class="fas fa-arrow-right right-arrow" (click)="handleClick('right')"></i>
          <div class="vignette">
            <p>Plugin: ngx-image-compress</p>
            <p>Tamaño: {{ photoSize }} KB</p>
            <p>Performance: {{ngxImageCompressTime | number:'1.0-0'}} ms</p>
            <p>Compression Ratio: {{ ngxImageCompressRatio | number:'1.2-2' }}</p>
            <!-- Add other relevant properties here -->
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'compress2'">
        <button *ngIf="photo && !compressionCompleted" (click)="compressPicture()">Comprimir Imagen</button>
        <div *ngIf="photo" class="card">
          <i *ngIf="compressionCompleted" class="fas fa-arrow-left left-arrow" (click)="handleClick('left')"></i>
          <img [src]="photo" alt="Captured Image">
          <i *ngIf="compressionCompleted" class="fas fa-arrow-right right-arrow" (click)="handleClick('right')"></i>
          <div class="vignette">
            <p>Plugin: browser-image-compression</p>
            <p>Tamaño: {{ photoSize }} KB</p>
            <p>Performance: {{browserImageCompressTime | number:'1.0-0'}} ms</p>
            <p>Compression Ratio: {{ browserImageCompressRatio | number:'1.2-2' }}</p>
            <!-- Add other relevant properties here -->
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'compress3'">
        <button *ngIf="photo && !compressionCompleted" (click)="compressPicture()">Comprimir Imagen</button>
        <div *ngIf="photo" class="card">
          <i *ngIf="compressionCompleted" class="fas fa-arrow-left left-arrow" (click)="handleClick('left')"></i>
          <img [src]="photo" alt="Captured Image">
          <i *ngIf="compressionCompleted" class="fas fa-arrow-right right-arrow" (click)="handleClick('right')"></i>
          <div class="vignette">
            <p>Plugin: compressorjs</p>
            <p>Tamaño: {{ photoSize }} KB</p>
            <p>Performance: {{compressorJsTime | number:'1.0-0'}} ms</p>
            <p>Compression Ratio: {{ compressorJsRatio | number:'1.2-2' }}</p>
            <!-- Add other relevant properties here -->
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'compressing'">
        <img src="assets/loading.svg" alt="Loading">
        <div class="vignette">
          <h3>Comprimiendo Imagen</h3>
          <p>
            Plugin: ngx-image-compress: 
            {{ngxImageCompressFinishTime !== undefined ? 'OK' : '...'}}
            <i *ngIf="ngxImageCompressFinishTime !== undefined" class="fas fa-check" style="color: green;"></i>
          </p>
          <p>
            Plugin: browser-image-compression: 
            {{browserImageCompressFinishTime !== undefined ? 'OK' : '...'}}
            <i *ngIf="browserImageCompressFinishTime !== undefined" class="fas fa-check" style="color: green;"></i>
          </p>
          <p>
            Plugin: compressorjs: 
            {{compressorJsFinishTime !== undefined ? 'OK' : '...'}}
            <i *ngIf="compressorJsFinishTime !== undefined" class="fas fa-check" style="color: green;"></i>
          </p>
        </div>
      </ng-container>
    </ng-container>
  </main>
  <img class="logo" src="assets/logo.png" alt="Logo">
</div>