.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 92vh;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  main button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(145deg, #6b8cff, #3a5eff);
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  main button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  main button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  main .card {
    max-height: 60vh;
    max-width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
  }
  
  main .card img {
    max-width: 100%;
    max-height: 50vh;
    border-radius: 10px;
  }
  
  main .card .vignette {
    position: absolute;
    bottom: 15px;
    width: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    margin-right: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
  }
  
  .logo {
    position: absolute;
    bottom: 20px;
    max-width: 100px;
    height: auto;
    border: none;
  }
  
  /* Styling for h2 */
  h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    header h1 {
      font-size: 1.5em;
    }
  
    main button {
      padding: 8px 16px;
      font-size: 14px;
    }
  
    .logo {
      max-width: 80px;
    }
  
    h2 {
      font-size: 1.3em;
    }
  }
  
  @media (max-width: 480px) {
    header h1 {
      font-size: 1.2em;
    }
  
    main button {
      padding: 6px 12px;
      font-size: 12px;
    }
  
    .logo {
      max-width: 60px;
    }
  
    h2 {
      font-size: 1.1em;
    }
  }